body {
    background-color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#header{
    position:fixed;
    top: 0px;
    width:100%;
    left:0px;
    height:50px;
    background-color:#90b4f1;
    text-align: center;
}
#main-page{
    position:relative;
    text-align: center;
    justify-content: center;
    margin-left: 10%;
    margin-right:10%;
    top: 50px;
}

.delete-button:hover{
    cursor: pointer;
    border:1px solid red;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.154);
}
#submit{
    background-color: rgb(31, 185, 113);
    border-radius:5px;
    color: white;
    text-align: center;
    min-width: 75px;
}
#submit:hover{
    cursor: pointer;
}
.col-3{
    background-color: lightseagreen;
    border-radius:5px;
    color: black;
    text-align: center;
    min-width: 75px;
    margin-left:2%;
}
.col-3:hover{
    cursor: pointer;
}
#sortingbuttons{
    padding-top:3%;
}
.unchecked-box:hover{
    cursor: pointer;
    background-color: rgba(0, 128, 0, 0.35);
    border-radius: 5px;
}
.checked-box:hover{
    cursor:pointer;
    background-color:rgba(0, 128, 0, 0.35);
    border-radius: 5px;
}
input {
    width: 100%;
    width:100%;
    border-radius: 5px;
    border:1px lightgray solid;
    display: inline-block;
}
#textbox{
    text-align: center;
    justify-self: center;
}

#displayToDos{
    margin-top: 20px;
}

/* .row{
    margin-bottom:2%;
} */
#displayToDos > .row {
    background-color:#dee9fc;
    border-radius: 5px;
    padding:5px 0px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 15px 0px;
}
.col-6 {
    border-radius: 5px;
}
#newtaskbox{
    background-color: #90b4f1;
    border-radius:5px;
    padding:10px 0px;
    margin-top: 20px;
    padding-left: 5%;
    padding-right:5%;
    margin-bottom: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
    align-items:center;
}
#newtaskbox > .row {
    width: 100%;
    margin: 0px;
    justify-content: center;
    align-items: center;
}
.col-2{
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}