#displayToDos{
    margin-top: 20px;
}
.row{
    margin-bottom:2%;
}
#displayToDos > .row {
    background-color:#dee9fc;
    border-radius: 5px;
    padding:5px 0px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 15px 0px;
}