#displayToDos{
    margin-top: 20px;
}

.container {
    background-color:#dee9fc;
    border-radius: 5px;
    padding:5px 0px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 15px 0px;
}

.container{
    text-align: center;
    margin:auto;
}

.col-6{
    text-align: center;
    margin:auto;
    text-decoration: none;
    font-size: 1.3em;
}
.unchecked-box{
    text-align: center;
    margin:auto;
}
